<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body class="overflow-hidden">

    <div th:fragment = "footCommon">
        <footer>
            <div class="row">
                <div class="col-sm-6">
                            <span class="footer-brand">
                                <strong class="text-danger">Endless</strong> Admin
                            </span>
                    <p class="no-margin">
                        &copy; 2013 <strong>Endless Admin</strong>. ALL Rights Reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
