<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <span th:fragment="commonOnLoadJs">
        <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
        <script th:src="@{/js/jquery.flot.min.js}"></script>
        <script th:src="@{/js/rapheal.min.js}"></script>
        <script th:src="@{/js/morris.min.js}"></script>
        <script th:src="@{/js/jquery.colorbox.min.js}"></script>
        <script th:src="@{/js/jquery.sparkline.min.js}"></script>
        <script th:src="@{/js/uncompressed/pace.js}"></script>
        <script th:src="@{/js/jquery.popupoverlay.min.js}"></script>
        <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/js/modernizr.min.js}"></script>
        <script th:src="@{/js/jquery.cookie.min.js}"></script>
        <script th:src="@{/js/endless/endless.js}"></script>
    </span>
</html>
