<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="nav_menu(subMenu)">
    <li th:each="menu : ${subMenu}" th:if="${menu.menuList.size() lt 1}">
        <a th:href="${menu.url}" target="menu_iframe"><span class="submenu-label" th:text="${menu.name}"></span></a>
    </li>
    <li th:each="menu : ${subMenu}" th:if="${menu.menuList.size() gt 0}" class="openable open">
        <a href="#">
            <span class="menu-icon"><i th:class="${menu.iconClass}"></i></span>
            <span class="submenu-label" th:text="${menu.name}"></span>
            <span class="menu-hover"></span>
        </a>
        <ul class="submenu third-level" th:include="common/subMenu :: nav_menu(subMenu = ${menu.menuList})"></ul>
    </li>
</ul>
