<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/head_css :: commonOnLoadCss"></span>
    <span th:include="common/head_js :: commonOnLoadJs"></span>

    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/pace.min.js}"></script>
    <script th:src="@{/js/endless/table.js}"></script>
    <script th:src="@{/js/endless/mine.js}"></script>
    <link th:href="@{/css/jquery.dataTables_themeroller.css}" rel="stylesheet">
    <link th:href="@{/css/mine.css}" rel="stylesheet">
</head>
<script type="text/javascript">
    $(function(){
        // 使用cookie存取值，此处是取值 $.cookie("name",$("#name").val()) 存值，来实现客户端记录用户上次的行为
        //$("#name").val($.cookie("name"));
        initTable("dataTable",aoColumns);
        // 初始化查询
        searchData();
    });

    // 表格对应的列
    var aoColumns =
    [
        {"mDataProp": "id", "title":"Id", "bSortable": false, "isExported": false,
            "mRender": function (data) {
                return "<a style='color: red' href=" + data + ">" + data + "</a>";
            }
        },
        {"mDataProp": "name","title":"姓名", "bSortable": false},
        {"mDataProp": "username","title":"用户名", "bSortable": false},
        {"mDataProp": "worknum","title":"工号", "bSortable": false},
        {"mDataProp": "email","title":"邮箱", "bSortable": false} //不允许当前页排序
    ];

    // 查询事件
    function searchData(){
        //$.cookie("name",$("#name").val());
        var param = $("#formToggleLine").serializeObject();
        serverDataTableInit("dataTable", "codeTable1", param, aoColumns);
    }
    // 导出当前页
    function Export(){
        ExportTableDataByPage("dataTable", aoColumns,"exportCodeTableData");
    }
    // 导出全部
    function ExportAll() {
        ExportTableDataAll("dataTable",aoColumns,"exportCodeTableData");
    }
</script>
<body class="overflow-hidden">
<div id="wrapper" class="preload">
    <div class="padding-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel panel-default table-responsive">
                        <div class="padding-md clearfix">
                            <form id="formToggleLine">
                                <input type="text" class="mineForm-control input-sm" placeholder="姓名" id="name" name="name" aria-controls="dataTable">
                                <input type="text" class="mineForm-control input-sm" placeholder="工号" id="worknum" name="worknum" aria-controls="dataTable">
                                <input type="text" class="mineForm-control input-sm" placeholder="邮箱" id="email" name="email" aria-controls="dataTable">
                                <label>label: </label>
                                <select class="mineForm-control input-sm" style="width:100px;" name="dataTable_length" aria-controls="dataTable" th:value="${selectList}"></select>
                                <button class="btn btn-default btn-sm" data-toggle="tooltip" title="查询" type="button" onclick="searchData()">查询<i class="fa fa-search"></i></button>
                                <button class="btn btn-default btn-sm" data-toggle="tooltip" title="导出当前页" type="button" onclick="Export()">导出当前页<i class="fa fa-download"></i></button>
                                <button class="btn btn-default btn-sm" data-toggle="tooltip" title="导出全部" type="button" onclick="ExportAll()">导出全部<i class="fa fa-download"></i></button>
                            </form>
                            <table class="table table-bordered table-condensed table-hover table-striped" id="dataTable" style="text-align: center">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
</div>
</body>
</html>
