<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <span th:include="common/head_css :: commonOnLoadCss"></span>
    <span th:include="common/head_js :: commonOnLoadJs"></span>
</head>

<body class="overflow-hidden">
    <div id="wrapper" class="preload">
        <!--引入themeSetting-->
        <div th:include="common/theme :: themeSetting"></div>
        <!-- 引用公共菜单 -->
        <div th:include="common/menu::common"></div>
        <div id="main-container">
            <div th:include="common/banner::bannerCommon"></div>
            <!--  填充内容  -->
            <iframe src="home" style="height:100%;width:100%;border:0px;" name="menu_iframe" id="menu_iframe"></iframe>
        </div>
        <!-- 引用footer-->
        <div th:include="common/foot::footCommon"></div>
    </div>
</body>
</html>
