<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/head_css :: commonOnLoadCss"></span>
    <span th:include="common/head_js :: commonOnLoadJs"></span>

    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/pace.min.js}"></script>
    <script th:src="@{/js/endless/table.js}"></script>
    <script th:src="@{/js/endless/mine.js}"></script>
    <link th:href="@{/css/jquery.dataTables_themeroller.css}" rel="stylesheet">
    <link th:href="@{/css/mine.css}" rel="stylesheet">
</head>
<script type="text/javascript">
    $(function () {
        // 初始化查询
        searchData();
    });

    // 定义表格的列
    var aoColumns = [
        {"mDataProp": "id", "bSortable": false},
        {"mDataProp": "name", "bSortable": false},
        {"mDataProp": "username", "bSortable": false},
        {"mDataProp": "worknum", "bSortable": false},
        {"mDataProp": "email", "bSortable": false} //不允许当前页排序
    ];

    // 查询事件
    function searchData(){
        var param = $("#formToggleLine").serializeObject();
        clientDataTableInit("dataTable", "codeTable1", param, aoColumns);
    }
</script>
<body class="overflow-hidden">
<div id="wrapper" class="preload">
    <div class="padding-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel panel-default table-responsive">
                        <div class="panel-heading">
                            <h3>前台分页Table</h3>
                        </div>
                        <div class="padding-md clearfix">
                            <table class="table table-bordered table-condensed table-hover table-striped" id="dataTable">
                                <thead>
                                <tr>
                                    <th class="col-md-3">Id</th>
                                    <th>姓名</th>
                                    <th>用户名</th>
                                    <th>工号</th>
                                    <th>电子邮箱</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
</div>
</body>
</html>
