<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/head_css :: commonOnLoadCss"></span>
    <span th:include="common/head_js :: commonOnLoadJs"></span>

    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/pace.min.js}"></script>
    <script th:src="@{/js/endless/table.js}"></script>
    <link th:href="@{/css/jquery.dataTables_themeroller.css}" rel="stylesheet">
</head>
<script type="text/javascript">
    $(function(){
        // 初始化表格
        tableInit("dataTable");
    });
</script>
<body class="overflow-hidden">
    <div id="wrapper" class="preload">
        <div class="padding-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel panel-default table-responsive">
                            <div class="panel-heading">
                               <h3>前台分页Table</h3>
                            </div>
                            <div class="padding-md clearfix">
                                <table class="table table-striped" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>姓名</th>
                                            <th>用户名</th>
                                            <th>工号</th>
                                            <th>电子邮箱</th>
                                        </tr>
                                    </thead>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.worknum}"></td>
                                        <td th:text="${user.email}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
    </div>
</body>
</html>
